/* Your app styles here */
th{
 background-color:gray;
 color:#fff;
 font-size:100%;
 padding:5px;
 text-align:center;
}
table{
 width:100%;
}
td{
 text-align:center;
 color:#222;
}
.pink{
 background-color:#fcf
}
.green{
 background-color:#C4EAC7
}
li{border-bottom:1px solid gray}
ul.a {
  list-style-type: square;
  padding:20px
}
.card-header{
 background-color:#C9DEE0
}
.card-footer{
 background-color:#C9DEE0
}
.item-content-product{
 font-size:12px
}
.item-subtitle{
 overflow:auto;
 white-space: wrap;
 text-overflow: none;
 
}.form-control::-webkit-input-placeholder {
  color: #ffccff;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #ffccff;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #ffccff;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #ffccff;
  opacity: 1;
}

.form-control::placeholder {
  color: #ffccff;
  opacity: 1;
}
#StepVideo {
  left: 0;
  top: 0;
		min-width:80vw;
		width:80vw;
		height:400px;
}


.Poppins{
 font-family: 'Poppins', sans-serif;
}
.Raleway{
 font-family: 'Raleway', sans-serif;
}
.Share{
 font-family: 'Share', cursive;
}

body{
 font-family: 'Poppins', sans-serif;
}
.szhalf{font-size:calc(.8em + .5vw)}
.szforth{font-size:calc(.3em + .5vw)}
.sz1{font-size:calc(1em + 1vw)}
.sz2{font-size:calc(1em + 2vw)}
.sz3{font-size:calc(1em + 3vw)}
.sz4{font-size:calc(1em + 4vw)}
.sz1b{font-size:calc(1em + 1vw);font-weight:bold}
.sz2b{font-size:calc(1em + 2vw);font-weight:bold}
.sz3b{font-size:calc(1em + 3vw);font-weight:bold}
.sz4b{font-size:calc(1em + 4vw);font-weight:bold}
.sz10{
 font-size: 10px;
}
.sz11{
 font-size: 11px;
}
.sz12{
 font-size: 12px;
}
.sz14{
 font-size: 14px;
}
.sz16{
 font-size: 16px;
}
.sz18{
 font-size: 16px;
}
h1 {
  letter-spacing: 3px;
}
.sz10b{
 font-size: 10px;
 font-weight: bold;
}
.sz11b{
 font-size: 11px;
 font-weight: bold
}
.sz12b{
 font-size: 12px;
 font-weight: bold
}
.sz14b{
 font-size: 14px;
 font-weight: bold
}
.sz16b{
 font-size: 16px;
 font-weight: bold
}
.sz18b{
 font-size: 16px;
 font-weight: bold;
 color:#999999;
}
.cs3 {
  letter-spacing: 3px;
}

img {
	max-width: 100%;
	display: block;
	max-height: 100%;
}
