/* Your app styles here */
th{
 background-color:gray;
 color:#fff;
 font-size:100%;
 padding:5px;
 text-align:center;
}
table{
 width:100%;
}
td{
 text-align:center;
 color:#222;
}
.pink{
 background-color:#fcf
}
.green{
 background-color:#C4EAC7
}
li{border-bottom:1px solid gray}
ul.a {
  list-style-type: square;
  padding:20px
}
.card-header{
 background-color:#C9DEE0
}
.card-footer{
 background-color:#C9DEE0
}
.item-content-product{
 font-size:12px
}
.item-subtitle{
 overflow:auto;
 white-space: wrap;
 text-overflow: none;
 
}.form-control::-webkit-input-placeholder {
  color: #ffccff;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #ffccff;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #ffccff;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #ffccff;
  opacity: 1;
}

.form-control::placeholder {
  color: #ffccff;
  opacity: 1;
}
